body, html {
    
    height: 100dvh;
    margin: 0;
    padding: 0;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;


}


.main-wrapper {
    width: 400px;
    height: 250px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-page {

    height: 100%;
    width: 100%;
    border: 3.5px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Source Serif",serif;



}

.front-page h1 {
    margin: 0;
    font-size: 85px;
}

.front-page h4 {
    
    margin: 0;


}
@media (max-width:640px) {
    .main-wrapper {
    width: 330px;
    height: 250px;
    
}
    .front-page h1 {
    margin: 0;
    font-size: 60px;
}
 
   

   


    
}