body,html {
    
    margin: 0;
    padding: 0;
    

}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;



}

.main-screen-wrapper {
    height: 300px;
    width: 450px;
    
}



.main-screen {
    height: 100%;
    width: 100%;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Serif 4", serif;
    flex-direction: column;



}

.main-screen h1 {
font-size: 65px;

padding: 0;
margin: 0;

}

.main-screen h4 {
    margin: 0;

}



@media (max-width:640px) {

    .main-screen-wrapper {
        width: 320px;
    }
   

   


    
}